root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.{ps1,psm1,psd1}]
indent_size = 4

[*.{md,markdown}]
trim_trailing_whitespace = false

[*.{pu,puml,plantuml}]
indent_size = 4
